venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

data/raw/

data/processed/

outputs/logs/

outputs/tables/
# large data files
data/processed/*.csv
data/raw/*.csv

# large data files
data/processed/*.csv
data/raw/*.csv
